  body {
            font-family: 'Figtree', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
         .invoice {
            background-color: #ffffff;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .invoice-header {
            text-align: center;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .invoice-header h1 {
            color: #6a1b9a;
            margin: 0;
        }
        .invoice-buttons {
            display: flex;
            gap: 10px;
        }
        .invoice-button {
            background-color: #6a1b9a;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .invoice-button:hover {
            background-color: #4a148c;
        }
        .company-info {
            margin-bottom: 20px;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 20px;
        }
        .company-logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .company-logo img {
            max-width: 150px;
        }
        .invoice-details {
            margin-bottom: 20px;
        }
        .invoice-details p {
            margin: 5px 0;
        }
        .invoice-table {
            width: 100%;
            border-collapse: collapse;
        }
        .invoice-table th,
        .invoice-table td {
            padding: 10px;
            border-bottom: 1px solid #dddddd;
            text-align: left;
        }
        .invoice-table th {
            background-color: #6a1b9a;
            color: #ffffff;
        }
        .invoice-total {
            text-align: right;
            margin-top: 20px;
        }
        .invoice-total p {
            margin: 5px 0;
        }

        .invoice-footer {
            margin-top: 50px;
            text-align: center;
            font-style: italic;
            font-size: 14px;
        }

        /* Print-specific styles */
        @media print {
            .invoice-buttons {
                display: none;
            }

            @page {
                margin: 0;
            }
            body {
                margin: 0;
                padding: 0;
            }
        }